<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CodeCampAppDatabase" connectionString="Server=tcp:currybostoncodecamp-app.database.windows.net,1433;Initial Catalog=Code_Camp_App;Persist Security Info=False;User ID=CurryTeam;Password=AzureSoftwareEngineering2023!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
  </connectionStrings>
</configuration>